.DS_Store
node_modules
dist
resources
trusted.ca.pem
localtokenhandler
.package
tokenhandler/.serverless
tokenhandler/.DS_store
tokenhandler/resources
tokenhandler/certs
tokenhandler/node_modules
tokenhandler/dist
tokenhandler/trusted.ca.pem
tokenhandler/test/*.txt
tokenhandler/.env
tokenhandler/deployment/environments/docker-local/spa-routes.yml
tokenhandler/deployment/environments/docker-local/oauthagent.config.json

api/bin
api/obj
api/wiremock/bin
api/wiremock/obj
api/resources
api/certs
api/trusted.ca.pem
api/test/obj/
api/wiremock/obj/
oauth.logs/
